POSTGRES_DB=pmtdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/pmtdb
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin

APP_FRONTEND_BASE_URL=http://localhost:4200
APP_MAIL_FROM=no-reply@pmt.local
SPRING_MAIL_HOST=
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=true
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true
